DB_NAME= db name (fastapidatabase)
DB_PASS= db password (fastapipass)
DB_USER= db owner (fastapiuser)
DB_HOST= db host (fastapi-db) for docker or (localhost) for local
DB_PORT= db port(5432)

DEBUG = 1/true/t for True

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USERNAME=

SECRET=rmWtAEDBZhOjbu9uAj9D68QdSLPDJZWv
REFRESH_SECRET=13ugfdfgh@#$%^@&jkl45678902
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES = 700000
REFRESH_TOKEN_EXPIRE_MINUTES = 60 


DEBUG=1

LOG_DIR=logs

MEDIA_DIR=media/