DB_NAME= db name    
DB_PASS= db password
DB_USER= db owner
DB_HOST= db host (localhost)
DB_PORT= db port(5432)


EMAIL_HOST_USER= smpt host email addres
EMAIL_HOST_PASSWORD= smpt host password 
EMAIL_HOST_USERNAME=smpt host username


PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=adminpassword 
PGADMIN_LISTEN_PORT=80


SECRET = secret to encode user info


STATIC_FILES_PATH = path to your static folder relative to the main file